<mat-drawer-container
  class="sidenav-icon-cnt"
  [hasBackdrop]="false"
  class="sidenav-icon-cnt"
>
  <mat-drawer #drawer [mode]="'over'" [opened]="drawerState">
    <div class="sidenav-main-cnt">
      <button mat-icon-button aria-label="Note" routerLink="/dashboard/notes">
        <mat-icon svgIcon="note-icon"></mat-icon>

        <span class="span-data-cnt">Notes</span>
      </button>
      <button mat-icon-button aria-label="Remainder">
        <mat-icon svgIcon="reminder-icon"></mat-icon>
        <span class="span-data-cnt">Remainder</span>
      </button>
      <button mat-icon-button aria-label="Edit">
        <mat-icon svgIcon="edit-icon"></mat-icon>
        <span class="span-data-cnt">Edit labels</span>
      </button>
      <button
        mat-icon-button
        aria-label="Archive"
        routerLink="/dashboard/archive"
      >
        <mat-icon svgIcon="archive-icon"></mat-icon>
        <span class="span-data-cnt">Archive</span>
      </button>
      <button mat-icon-button aria-label="Trash" routerLink="/dashboard/trash">
        <mat-icon svgIcon="trash-icon"></mat-icon>
        <span class="span-data-cnt">Trash</span>
      </button>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <div class="sidenav-drawer-content">
      <div class="icons-cnt">
        <mat-icon
          class="note-icon"
          svgIcon="note-icon"
          aria-hidden="false"
          aria-label="Note SVG icon"
          routerLink="/dashboard/notes"
        ></mat-icon>
        <mat-icon
          class="reminder-icon"
          svgIcon="reminder-icon"
          aria-hidden="false"
          aria-label="Reminder SVG icon"
        ></mat-icon>
        <mat-icon
          class="edit-icon"
          svgIcon="edit-icon"
          aria-hidden="false"
          aria-label="Edit SVG icon"
        ></mat-icon>
        <mat-icon
          class="archive-icon"
          svgIcon="archive-icon"
          aria-hidden="false"
          aria-label="Archive SVG icon"
          routerLink="/dashboard/archive"
        ></mat-icon>
        <mat-icon
          class="trash-icon"
          svgIcon="trash-icon"
          aria-hidden="false"
          aria-label="Trash SVG icon"
          routerLink="/dashboard/trash"
        ></mat-icon>
      </div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

