.createnote-first-cnt{
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    display: flex;
    //justify-content: space-between;
    justify-content: row;
    margin-left: 400px;
    margin-top: 70px;
}
.createnote-first-cnt input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 20px;
}
.createnote-first-cnt img{
    margin-left: 10px;
    cursor: pointer;
}
.createnote-detailednotes-cnt{
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 20px;
    //display: none;
    padding: 10px;
    margin-top: 20px;
    margin-left: 400px;
}

.createnote-close-btn{
  margin-left: 190px;
}
.createnote-text{
    border: none;
    outline: none;
}
.create-note-pinicon-cnt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}