<div >
    <div class="createnote-first-cnt" *ngIf="createNote; else addNote" (click)="handleCreateNote()">
    <input  type="text" placeholder="Take a note...">
    <button mat-icon-button aria-label="New list">
    <mat-icon svgIcon="tick-icon"></mat-icon>
    </button>
    <button mat-icon-button aria-label="Note with drawing">
    <mat-icon svgIcon="brush-icon"></mat-icon>
    </button>
    <button mat-icon-button aria-label="Note with Image">
    <mat-icon svgIcon="img-icon"></mat-icon>
    </button>
</div>
<ng-template #addNote>
<div  class="createnote-detailednotes-cnt">
    <div class="create-note-pinicon-cnt">
    <input class="createnote-text" type="text" placeholder="Title" [(ngModel)]="title">
    <button mat-icon-button aria-label="Note with Image">
        <mat-icon class="createnote-pin-icon" svgIcon="pin-icon"></mat-icon>
        </button>
    </div>
    <input class="createnote-text" type="text" placeholder="Take a note..." [(ngModel)]="description">
    <div>
    <button mat-icon-button aria-label="remainder">
    <mat-icon svgIcon="reminder-icon"></mat-icon>
    </button>
    <button mat-icon-button aria-label="Add colaborator">
    <mat-icon svgIcon="collaborator-icon"></mat-icon>
</button>
    <button mat-icon-button aria-label="Background Colour">
    <mat-icon svgIcon="backgroundcolor-icon"></mat-icon>
</button>
    <button mat-icon-button aria-label="Archive">
    <mat-icon svgIcon="archive-icon"></mat-icon>
</button>
    <button mat-icon-button aria-label="Undo">
    <mat-icon svgIcon="undo-icon"></mat-icon>
</button>
    <button mat-icon-button aria-label="Redo">
    <mat-icon svgIcon="redo-icon"></mat-icon>
</button>
    <button class="createnote-close-btn" (click)="handleCreateNote()" mat-flat-button>Close</button>
</div>
</div>
</ng-template>
